/**DOCTORS PAGE**/

.third-section{
  letter-spacing: 1.2px;
  align-items: center;
  background-color: #1F7176; 
  color: white;
  display: flex;
  flex-direction: column;
  gap: 3em;
  justify-content: space-around;
  min-height: 100vh; 
  padding: 60px 0;
  text-align: center;
}

.third-section-container{
  align-self: flex-start;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-x: hidden;
}

.third-section-container_container > h4, h2 {
  font-size: 24px;
  font-weight: 500;
  overflow-x: hidden;
  padding: 0;
  width: 90%;
}

.third-section-container_container{
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 3px;
  text-align: center;
  text-underline-position:above;
}

.third-section-container_container > img[alt="doctors"]{
  margin: auto;
  transform: translateX(-20px);
}

.doctors-animate{
  width: 160%;
  height: 209px;
  margin: auto;
}
.heart{
  width: 147px;
  height: 133px;
  margin: auto; 
}


@media (min-width: 992px) {
  .doctors-animate{
    width: 594px;
    height: 409px;
    margin: auto;
  }
  .heart{
    width: 594px;
    height: 409px;
    margin: auto;
    padding-left: 3em;
  }
}