/**MOBILE FIRST**/

/**HOME PAGE**/

.first-section {
  background-image: url("../../images/banner.png");
  background-position: 60% 0;
  background-repeat: no-repeat;
  background-size: 100% 1fr;
  min-height: 100vh;
  overflow-x: hidden;
  width: 1fr;
}

.first-section-card {
  align-items: flex-start;
  background-color: #c4c4c4b3;
  border-radius: 3px;
  color: #c51067;
  display: flex;
  flex-direction: column;
  height: 330px;
  justify-content: space-evenly;
  margin: auto;
  max-width: 90vmin;
  padding: 0 1em;
  transform: translateY(50%);
  width: 330px;
}

.first-section-card > h4{
  font-weight: 500;
}

.first-section-card-list {
  align-self: center;
  display: flex;
  gap: 0.7em;
  list-style: none;
  padding: 0;
}

.first-section-card-list > li {
  border-radius: 50%;
  border: 1px solid #c51067;
  display: flex;
  max-height: 100%;
  max-width: 100%;
  padding: 0.7em;
  place-content: center;
  place-items: center;
  place-items: center;
}

.first-section-card-list > li > * {
  height: 40px;
  width: 40px;
}

.button {
  background-color: rgb(197, 16, 103);
  border-radius: 6px;
  border-style: none;
  color: white;
  height: 33px;
  padding: .25em 0;
  text-align: center;
  text-decoration: none;
  text-decoration-color: none;
  width: 123px;
  transition: background-color .25s ;
}

.button[disabled]{
  opacity: .3;
}

.button:hover{
  color: white;
  background-color: rgb(173, 17, 93);
}