/** nav **/
.nav {
  font-size: 16px;
  background-color: #ffffffb0;
  color: #1f7176;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  min-width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: fixed;
  width: 360px;
  z-index: 900;
}

.navbar-brand {
  margin: 0;
}

.nav-container-items {
  padding: 0;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}

.nav-link {
  padding: 0.5em;
}

/**MAS CHICO QUE MOBILE**/
@media screen and (max-width: 340px) {
  .nav-link {
    padding: 0.3em;
    font-size: 12px;
  }
  .navbar-brand {
    padding: 0.3em;
    font-size: 16px;
  }
  .btn {
    font-size: 12px;
  }
}

/**CLINIC PAGE**/

.operation2 {
  font-weight: 600;
  padding: 60px 0;
  height: 100vh;
  background-size: cover;
  background-position: 35% 0;
  background-image: url("./images/doctor5 1.jpg");
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px #c5106875;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.operation2 > h2 {
  font-size: 36px;
}

.operation2 > p{
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
}

.operation2 > span{
  font-size: 46px;
}

.operation2 > *{
  max-width: 90%;
}

