.OurDoctors{
  align-items: center;
  background-color: #1F7176;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-evenly;
  min-height: 100vh;
  padding: 60px 0;
}

.list-turns > figure > h2, .OurDoctors > h2{
  margin: 0;
  max-width: 90%;
  text-align: center;
} 

.OurDoctors > h2 {
  color: #FFFF;
  margin: .8em;
  text-transform: uppercase;
}

.list-turns{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr) ;
}

.list-turns > figure{
  align-items: center;
  background-color: #FFFF;
  border-radius: 3px;
  box-shadow: 3px 2px 10px 0 rgba(0, 0, 0, 0.452);
  display: flex;
  flex-direction: column;
  height: 124px;
  justify-content: space-evenly;
  min-height: 100%;
  width: 154px;
}

.list-turns > figure > span{
  color: "#494747";
  font-weight: 600;
}

.list-turns > figure > h2{
  font-weight: 600;
}